@model ArmaRealMapWebSite.Entities.Assets.ObjectLibrary

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ObjectLibrary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerrainRegion" class="control-label"></label>
                <select asp-for="TerrainRegion" class="form-control" asp-items="@Html.GetEnumSelectList<ArmaRealMap.Core.ObjectLibraries.TerrainRegion>()"></select>
                <span asp-validation-for="TerrainRegion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjectCategory" class="control-label"></label>
                <select asp-for="ObjectCategory" class="form-control" asp-items="@Html.GetEnumSelectList<ArmaRealMap.Core.ObjectLibraries.ObjectCategory>().OrderBy(e => e.Text).ToList()"></select>
                <span asp-validation-for="ObjectCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Density" class="control-label"></label>
                <input asp-for="Density" class="form-control" />
                @if (Model != null)
                {
                    <small class="form-text text-muted">@ArmaRealMap.Core.ObjectLibraries.ObjectCategoryHelper.DensityLabel(Model.ObjectCategory)</small>
                }
                <span asp-validation-for="Density" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Probability" class="control-label"></label>
                <input asp-for="Probability" class="form-control" />
                <span asp-validation-for="Probability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
