@model ArmaRealMapWebSite.Entities.Assets.Asset

@{
    ViewData["Title"] = $"Modifier {Model.Name}";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AssetID" />
            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CX" class="control-label"></label>
                <input asp-for="CX" class="form-control" />
                <span asp-validation-for="CX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CY" class="control-label"></label>
                <input asp-for="CY" class="form-control" />
                <span asp-validation-for="CY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CZ" class="control-label"></label>
                <input asp-for="CZ" class="form-control" />
                <span asp-validation-for="CZ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetCategory" class="control-label"></label>
                <select asp-for="AssetCategory" class="form-control" asp-items="@Html.GetEnumSelectList<ArmaRealMapWebSite.Entities.Assets.AssetCategory>()"></select>
                <span asp-validation-for="AssetCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClusterName" class="control-label"></label>
                <input asp-for="ClusterName" class="form-control" />
                <span asp-validation-for="ClusterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
