@{
    ViewData["Title"] = $"Mise à jour ModelsInfo";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadModelsInfo" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="file" class="control-label">Fichier JSON généré par <code>ArmaRealMap update</code></label>
                <input name="file" id="file" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
