[submodule "mapkit"]
	path = mapkit
	url = https://github.com/jetelain/mapkit.git
[submodule "bis-file-formats"]
	path = bis-file-formats
	url = https://github.com/jetelain/bis-file-formats.git
[submodule "HugeImages"]
	path = HugeImages
	url = https://github.com/jetelain/HugeImages.git
[submodule "gemini"]
	path = gemini
	url = https://github.com/jetelain/gemini.git
[submodule "weatherstats"]
	path = weatherstats
	url = https://github.com/jetelain/weatherstats.git
