[submodule "bis-file-formats"]
	path = bis-file-formats
	url = https://github.com/jetelain/bis-file-formats.git
[submodule "gemini"]
	path = gemini
	url = https://github.com/jetelain/gemini.git
[submodule "weatherstats"]
	path = weatherstats
	url = https://github.com/jetelain/weatherstats.git
