classTag="arm";
mapName="arm_belfort";
mapTitle="";
mapPath="p:\z\arm\addons\belfort";
UTMNorth="5291280.000000";
UTMSouth="5270800.000000";
UTMWest="323000.000000";
UTMZone="32";
UTMHemi="N";
WGSLong="6.6385";
WGSLongSign="";
WGSLat="47.7506";
WGSLatSign="-";
surfacesArray=[];
clutterArray=[];
