@model ArmaRealMapWebSite.Entities.Maps.Map


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Label" class="control-label"></label>
    <input asp-for="Label" class="form-control" />
    <span asp-validation-for="Label" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Workshop" class="control-label"></label>
    <input asp-for="Workshop" class="form-control" />
    <span asp-validation-for="Workshop" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="GridSize" class="control-label"></label>
    <select asp-for="GridSize" class="form-control">
        <option value="2048">2048x2048</option>
        <option value="4096">4096x4096</option>
        <option value="8192">8192x8192</option>
    </select>
    <span asp-validation-for="GridSize" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CellSize" class="control-label"></label>
    <input asp-for="CellSize" class="form-control" />
    <span asp-validation-for="CellSize" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Resolution" class="control-label"></label>
    <input asp-for="Resolution" class="form-control" />
    <span asp-validation-for="Resolution" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="TerrainRegion" class="control-label"></label>
    <select asp-for="TerrainRegion" asp-items="@Html.GetEnumSelectList<ArmaRealMap.Core.TerrainRegion>()" class="form-control"></select>
    <span asp-validation-for="TerrainRegion" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="MgrsBottomLeft" class="control-label"></label>
    <input asp-for="MgrsBottomLeft" class="form-control" />
    <span asp-validation-for="MgrsBottomLeft" class="text-danger"></span>
</div>
