name: Release for .NET Linux

on:
  push:
    branches: [ "*" ]  # for testing purposes
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Use Nerdbank.GitVersioning to set version variables
      uses: dotnet/nbgv@master
      id: nbgv

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
      
    - name: Build Linux Command Line
      run: dotnet publish --no-self-contained -f net6.0 -r linux-x64 -c Release GameRealisticMap.Arma3.CommandLine/GameRealisticMap.Arma3.CommandLine.csproj -o Output -p:FileVersion=${{ steps.nbgv.outputs.SimpleVersion }}
    
    - name: Generate tar.gz
      run: tar -czvf grma3.tar.gz -C Output grma3
        
    - name: Upload build artifacts (TEST)
      uses: actions/upload-artifact@v3
      with:
        name: Linux Command Line
        path: grma3.tar.gz
        
    - uses: Shopify/upload-to-release@v1
      with:
        name: grma3-${{ steps.nbgv.outputs.SimpleVersion }}.tar.gz
        path: grma3.tar.gz
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        content-type: application/gzip
        